* {
    margin: 0;
    padding: 0;
}

@font-face {
	font-family: 'AvantGarde Bk BT'; 
	src: local('FAvantGarde Bk BT'),
		url(../fonts/avantgardebkbtrusbyme_demi.otf); 
}

@font-face {
	font-family: 'Poppins';
	src: url('Poppins-Thin.woff2') format('woff2'), url('Poppins-Thin.woff') format('woff');
}

body {
    width: 1440px;
    margin: 0 auto;
    font-style: normal;
}
/* -----------Блок header--------------------*/
header {
    width: 569px;
    height: 56px;
    display: flex;
    justify-content:space-between;
    margin-top: 80px;
    margin-left: 82px;
    position: absolute;
}

.menu-header img:hover {
    background-color: rgb(218, 210, 210);
}

/* -----------Блок main--------------------*/
main {
    width: 1440px;
    height: 678px;  
    margin: 0 auto;
}

h1 {
    font-style: normal;
    font-weight: 600;
    font-size: 65px;
    line-height: 70px;
    letter-spacing: 0.04em;
    color: #252525;
    font-family: 'AvantGarde Bk BT';
}

.block-main {
    display: flex;
    align-items:flex-end ;
}

.text-main {
    display: flex;
    flex-direction:column;
    margin-top: 230px;
    margin-left: 80px;
    width: 460px;
    height: 448px;
}

.text-main p {
    width: 374px;
    height: 105px;
    font-weight: 400;
    font-size: 18px;
    line-height: 35px;
    color: #6D6D6D;
    padding-top:23px;
    font-family: 'Poppins';
}

.text-main a {
    margin-top: 54px;
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #252525;
    text-align: center;
    width: 189px;
    height: 56px;
    line-height: 55px;
    font-family: 'AvantGarde Bk BT';
}

.text-main a:hover {
    background-color: #4d4c4c;
}

.img-main {
    margin-left:  164px;
    transform: translateY(4.5px);
}

.Rating-main {
    width: 352px;
    height: 129px;
    position: absolute;
    background-color: #fff;
    transform: translateY(-64px);
    margin-left:154px;
    box-shadow: 0px 9px 45px rgba(163, 163, 163, 0.15);
}

.wraper-block-main{
    width: 251px;
    height: 80px;
    padding-top: 25px;
    padding-left: 51px;
}

.block-Rating-main {
    display: flex;
}

.img-check-main {
    background-image: url(../img/check.png);
    background-repeat:no-repeat;
    background-size:100%;
    width: 16px;
    height: 16px;
    position: absolute;
    top:29px;
    left: 51px;
}

.text-Rating-main span{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #252525;
    font-family: 'AvantGarde Bk BT';
    position: absolute;
    top:25px;
    left: 76px;
}

.stars-check-main {
    background-image: url(../img/stars.png);
    background-repeat:no-repeat;
    background-size:100%;
    width: 110px;
    height: 18px;
    position: absolute;
    top:28px;
    left: 166px;
}

.span-Rating-main {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
    color: #5C5C5C;
    position: absolute;
    top:57px;
    left: 76px;
    width: 226px;
    height: 48px;
}

/*-------- Блок work-----------*/
.work {
    height:581px ;
    width: 1440px;
    margin: 0 auto;
}

.wraper-work {
    width: 1090px;
    height: 162px;
    display: flex;
    justify-content:space-between;
    padding-left:176px;
    padding-top:193px;
}

.block-work {
    display: flex;
    flex-direction:column;
    font-family: 'Montserrat', sans-serif;
}

.number-work {
    font-weight: 700;
    font-size: 50px;
    line-height: 39px;
    color: rgba(210, 210, 210, 0.52);

}

.block-work h3 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    letter-spacing: 0.07em;
    color: #252525;
    padding-top: 15px;
}

.block-work p {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #5C5C5C;
    padding-top: 15px;
    width: 259px;
    height: 60px;
}

.vertical-line-work {
    border-left: 1px solid #878787;
    transform: rotate(180deg);
    width: 0px;
    height: 93px;
    margin-top:35px;
}

/*-------- Блок About Us----------*/
.About-Us {
    height:860px ;
    width: 1440px;
    display: flex;
    margin: 0 auto;
}

.img-About-Us {
    margin-left:  84px;
}

.text-About-Us {
    display: flex;
    flex-direction:column;
    width: 538px;
    height: 565px;
    margin-left: 99px;
    padding-top: 18px;
}

.info-About-Us {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #919191;
}

.horizontal-line-work {
    display: block;
    border-left: 1px solid #878787;
    transform: rotate(90deg);
    width: 0px;
    height: 52px;
    position: absolute;
    margin-top: -19px;
    margin-left: 105px;
}

.text-About-Us h2{
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #252525;
    margin-top: 25px;
}


.text-About-Us p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: #6D6D6D;
    width: 538px;
    height: 191px;
    margin-top: 37px;
}

.text-About-Us a {
    margin-top: 60px;
    text-decoration: none;
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #252525;
    text-align: center;
    width: 189px;
    height: 56px;
    line-height: 55px;

}

.text-About-Us a:hover {
    background-color: #4d4c4c;
}
/*-------- Блок Exclusive----------*/

.Exclusive {
    width: 1440px;
    height:520px;
    display: flex;
    margin: 0 auto;
}

.text-Exclusive-Menu {
    width: 538px;
    height:520px;
    margin-left: 81px;
}

.horizontal-line-Exclusive {
    border-top: 1px solid #878787;
    transform: rotate(180deg);
    width: 52px;
    height: 0px;
    margin-top:9px;
    margin-left: 120px;
    position: absolute;
}

.info-Exclusive-Menu {
    font-family: 'Montserrat', sans-serif;

    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 0.04em;
    color: #919191;
}

.text-Exclusive-Menu h2 {
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 42px;
    line-height: 65px;
    letter-spacing: 0.02em;
    color: #252525;
    margin-top: 25px;
}

.p-Exclusive {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 35px;
    color: #808080;
    width: 538px;
    height: 191px;
    margin-top: 37px;
    margin-bottom: 60px;
}

.text-Exclusive-Menu a {
    text-decoration: none;
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #252525;
    width: 189px;
    height: 56px;
    line-height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-Exclusive-Menu a:hover {
    background-color: #4d4c4c;
}

.wraper-a-text-Exclusive-Menu {
    margin-top: 60px;
}

.img-Exclusive-Menu {
    height: 520px;
    width: 616px;
    display: grid;
    grid-template-columns:2;
    grid-template-rows:3;
    border: #c21717;
    column-gap:18px;
    margin-left: 125px;
}

.img1-Exclusive Menu {
    grid-column:1/2;
    grid-row:1/2;
}

.img2-Exclusive-Menu {
    grid-column:1/2;
    grid-row:3/4;
}

.img3-Exclusive-Menu {
    grid-column:2/2;
    grid-row:1/4;
}
/*-------- Блок booking---------*/
.booking {
    width: 1440px;
    height: 1161px;
    display: flex;
    flex-direction:column;
    margin: 0 auto;
}

.text-booking {
    text-align: center;
    margin-top: 225px;
}

.span-booking {
    font-family: 'AvantGarde Bk BT';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #909090;
}

.text-booking h2 {
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 42px;
    line-height: 65px;
    color: #252525;
    width: 593px;
    height: 130px;
    margin: 0 auto;
    margin-top: 13px;
}

/* форма заявки*/
.form-booking {
    margin: 0 auto;
    width: 1123px;
    height: 126px;
    margin-top: 133px;
    border: 0.5px solid #7F7F7F;
}

.box-booking {
    display: flex;
    margin-top: 35px;
    margin-left: 56px;
    width: 1012px;  
    height: 56px;
}

.block1-form-booking {
    display: flex;
    align-items:center;
    width: 158px;
    height: 24px;
    margin-top: 15px;
}

.block2-form-booking {
    display: flex;
    align-items:center;
    width: 180px;
    height: 24px;
    margin-top: 15px;
}

.block3-form-booking {
    display: flex;
    align-items:center;
    width: 155px;
    height: 24px;
    margin-top: 15px;

}

.img-block1-form-booking {
    background-image: url(../img/person.png);
    width:24px;
    height:24px;
}

.img-block2-form-booking {
    background-image: url(../img/calendar.png);
    width:24px;
    height:24px;
}

.img-block3-form-booking {
    background-image: url(../img/clock.png);
    width:24px;
    height:24px;
}

.text-form-booking {
    margin-left: 20px;
}

.text2-form-booking {
    margin-left: 20px;
}

.img1-form-booking {
    background-image: url(../img/arrow.png);
    background-repeat:no-repeat;
    background-size:100%;
    width: 24px;
    height: 24px;
    margin-left: 10px;
}

.img1-form-booking:hover {
    background-color: #d3d0d0;
}

.vertical-booking {
    display: block;
    border-right: 1px solid #7F7F7F;
    transform: rotate(180deg);
    width: 0px;
    height: 40px;
    margin-left: 62px;
    margin-right: 63px;
    margin-top: 5px;
}

.box-booking a {
    text-decoration: none;
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 189px;
    height: 56px;
    margin-left: 80px;
}

.box-booking a:hover {
    background-color: #4d4c4c;
}

.box-img-booking {
    margin: 0 auto;
    margin-top: 82px;
}

/*-------- Блок reviews---------*/
.reviews {
    height:1363px;
    width: 1440px;
    margin: 0 auto;
    display: flex;
}

.block-reviews {
    display: block;
    width: 1267px;
    height: 627px;
    background-color: #FAFAFA;
    margin: 0 auto;
    margin-top: 85px;
    padding-left: 20px;
}

.wrapper-block-reviews {
    display: flex;
    justify-content:space-between;
    margin-left: 39px;
    margin-right: 39px;
}

.wrapper {
    display: block;

}
.span-block-reviews {
    font-family: 'AvantGarde Bk BT';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #909090;
    text-align: center;
   display: block;
   margin-top: 68px;
}

.block-reviews h2 {
    width: 444px;
    height: 100px;
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    color: #000000;
    margin: 0 auto;
    margin-top: 18px;
}

.wrapper-Box-reviews {
    background-color: #FFFFFF;
    width: 383px;
    height: 249px;
    margin-right: 20px;
}

.Box-reviews {
    width: 188px;
    height: 58px;
    display: flex;
    padding-top: 20px;
    padding-left: 16px;
    margin-top: 109px;
}

.ico-reviews {
    background-image: url(../img/person-outline.png);
    background-repeat: no-repeat;
    background-size:  58px 58px;
    width: 58px;
    height: 58px;
    box-shadow: 0px 4px 20px rgba(198, 198, 198, 0.25);
}

.Box-text-reviews {
    margin-top: 4px;
    margin-left: 46px;
}

.Box-text-reviews h3 {
    display: block;
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
    text-align: center;
}

.Box-text-reviews span {
    display: block;
    font-family: 'AvantGarde Bk BT';
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    color: #BCBCBC;
    text-align: center;
}

.block-reviews p {
    font-family: 'AvantGarde Bk BT';
    font-weight: 400;
    font-size: 16px;
    line-height: 29px;
    color: #717171;
    width: 343px;
    height: 115px;
    margin-top: 26px;
    margin-left: 20px;
}

.stars-reviews {
    width: 186px;
    height: 42px;
    background: #000000;
    background-image: url(../img/stars.png);
    background-repeat: no-repeat;
    background-position: center center;
    transform: translateY(-21px);
    margin-left: 94px;
}

.order {
    width: 1267px;
    height: 389px;
    background-color: #000000;
    margin: 0 auto;
    margin-top:137px;
    display: flex;
    flex-direction:column;
}

.order span {
    font-family: 'AvantGarde Bk BT';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #FFFFFF;
    text-align: center;
    margin-top: 60px;
}

.order h2 {
    font-family: 'AvantGarde Bk BT';
    font-weight: 600;
    font-size: 42px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    margin-top: 16px;
    width: 540px;
    height: 100px
}

.order button {
    font-family: 'AvantGarde Bk BT';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #000000;
    width: 540px;
    height: 73px;
    background-color: #FFFFFF;
    margin: 0 auto;
    margin-top: 59px;
}

.order button:hover {
    background-color: #a79797;
    cursor: pointer;
}